:root {
    --color-blue: #5D6FAD;
    --color-fuchsia: #BE365F;
    --color-light-blue: #BBC3DD;
    --color-light-fuchsia: #EAC7CB;
    --color-yellow: #F9EEB7;
    --color-green: #BCEBC5;
    --divider-color: rgba(190, 54, 95, 0.5);
    --border-color: 1.5px solid rgba(0,0,0,0.35);
}
body {
    margin: 0;
    background-color: #EDE6D4;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
}

h1 {
    color: var(--color-blue);
    font-size: 24px;
}

h2 {
    color: var(--color-fuchsia);
    font-size: 16px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

.page-wrapper {
    gap: 24px;
}

.header-image {
    background-color: var(--color-blue);
    width: 100%;
    height: 160px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px calc(env(safe-area-inset-left) + 96px) 24px calc(env(safe-area-inset-left) + 96px);
    gap: 24px;
    margin: 0;
    flex-grow: 1;
}

.page-title {
    height: 50px;
}

.callout-quote {
    padding: 10px 20px 10px 20px;
    border: 1.5px solid var(--color-fuchsia);
    border-radius: 8px;
}

.callout-quote h2 {
    font-weight: 550;
}


.about-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 28px;
    padding: 0;
}

.about-section-image {
    height: 10%;
    width: 10%;
    display: flex;
    align-self: center;
}

.about-section-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.about-section-bio {
    width: 58%;
    height: 100%;
    padding: 24px 20px 24px 20px;
    background-color: var(--color-light-blue);
    border: var(--border-color);
}

.about-section-links {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    outline: var(--border-color);
    border-radius: 6px;
}

.links-header {
    background-color: var(--color-light-blue);
    padding-left: 10px;
    border-radius: 6px 6px 0 0;
    height: 25%;
}

.links-list {
    height: 25%;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--color-light-fuchsia);
    border-radius: 0 0 6px 6px;
}

.page-border {
    width: 100%;
    height: 30px;
    background-color: var(--divider-color);
    display: flex;
    align-items: center;
}

.page-border p {
    padding-left: 20px;
    color: var(--color-fuchsia);
}


.have-normal-image img{
    width: 200px;
    height: auto;
    
}

.footer-image {
    background-color: var(--color-fuchsia);
    width: 100%;
    height: 160px;
}

.info-wrapper {
    display: flex;
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    
    /* margin: 0px; */
    /* gap: auto;
    flex-grow: 1; */
} 

.info-section {
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
}

.projects-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 35vw;
    flex-shrink: 1;
}

@media screen and (max-width: 630px) {
    .info-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 770px) {
    .experiences-section {
        max-width: 35vw;        
    }
    .experience-wrapper {
        max-width: 35vw;
    }
    .info-wrapper {
        flex-direction: row;
    }
}

@media screen and (min-width: 770px) {
    .projects-section, .experiences-section, .experience-wrapper {
        width: 45vw;
    }
}

@media screen and (min-width: 1000px) {
    .projects-section, .experiences-section, .experience-wrapper {
        width: 55vw;
        
    }
}

@media screen and (min-width: 1300px) {
    .projects-section, .experiences-section, .experience-wrapper {
        width: 60vw;
    }
}

@media screen and (min-width: 1480px) {
    .projects-section, .experiences-section, .experience-wrapper {
        width: 63vw;
    }
} 

.project-wrapper {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    padding: 14px 24px;
    gap: 24px;
    width: 100%;
}

.project {
    width: 30%;
    min-width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    box-sizing: content-box;
    padding: 14px 8px 14px 18px;
    cursor: pointer;
    border-radius: 8px;
    border: var(--border-color);
}

.project-info {
    gap: 14px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.project-title {
    width: fit-content;
    height: fit-content;
}

.project-desc {
    width: 20vw;
    min-width: none;
    height: fit-content;
}

.project-tags {
    display: flex;
    flex-direction: row;
    gap: 12px;
    line-height: 1;

}

.proj-tag {
    padding: 0px 6px;
    width: fit-content;
    height: min-content;
    border: var(--border-color);
    border-radius: 15px;
    background-color: #BE365F;
    line-height: 1px;
    font-size: 10px;
}

.proj-tag.html-css {
    background-color: var(--color-light-fuchsia);
}


.proj-tag.python {
    background-color: var(--color-light-blue);
}


.proj-tag.api {
    background-color: var(--color-yellow);
}

.star-icon-wrapper {
    width: auto;
    height: auto;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.star-icon-wrapper img {
    height: auto;
    width: 2vw;
    /* min-height: 4vw; */
    max-width: 100%;
    object-fit: contain;
}

.education-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    max-width: 20vw;
    padding: 0px 10px;
    background-color: var(--color-light-blue);
    /* margin: 0; */
    flex-grow: 1;
    border: var(--border-color);
    border-radius: 8px;
}

.education-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* flex-grow: 1; */
    padding: 18px 10px;
}

.education-list {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 24px;
}

.role-description {
    list-style: none;
    width: 100%;
}

.education-list li {
    margin: 14px;
    font-size: 14px;
}

.cal-toggle, .otis-toggle, .role-toggle {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
}

.role-toggle {
    width: max-content;
}

.triangle-icon, .cal-toggle-triangle, .otis-toggle-triangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #212121;
    transition: transform 0.1s ease; 
}

.role-toggle.active .triangle-icon, .cal-toggle.active .cal-toggle-triangle,
.otis-toggle.active .otis-toggle-triangle {
    transform: rotate(90deg); /* Rotates the triangle 180 degrees */
}

.role-tags {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 24px;

}


.location, .start-end-date {
    display: flex;
    flex-direction: row;
    padding: 0px 8px 0 8px;
    border-radius: 4px;
    border: var(--border-color);
    line-height: 0;
    width: max-content;
    font-size: 12px;
}

.location {
    background-color: var(--color-light-fuchsia);
}

.start-end-date {
    background-color: var(--color-yellow);
}

.role-info-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-left: 14px;
}

.experiences-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40vw;
    height: max-content;
    
}

.experience-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.byebye {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    gap: 24px;
}

.have-normal-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50vw;
    outline: var(--border-color);
    border-radius: 8px;
    
}

.have-normal-heading {
    width: 100%;
    background-color: var(--color-light-blue);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.have-normal-heading h2 {
    padding: 0px 24px;
}

.have-normal-image {
    border-radius: 0 0 8px 8px;
    background-color: var(--color-light-fuchsia);
    width: 100%;
    height: max-content;
    padding: 24px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.have-normal-image img {
    width: 80%;
}

.send-message-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px 24px 24px;
    width: 100%;
    background-color: var(--color-light-blue);
}

.send-message-section {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.send-message-section h2{
    height: fit-content;
    line-height: 1;
}

.enter-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-right: 24px;
    font-size: 10.5px;
}

.name_email_row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 86%;
}

.name-block, .email-block {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    min-width: fit-content;
    max-height: 2vw;
    /* height: fit-content; */
    line-height: 0.2;
    background-color: #FFFFFF;
    border-radius: 8px;
    outline: var(--border-color);
    align-items: center;
}
/* 
.name-block {
    width: 50%;
}

.email-block {
    width: 50%;
    
} */


.message-block {
    width: 100%;
    /* max-width: 86%; */
    min-height: 4vw;
    background-color: #FFFFFF;
    border-radius: 8px;
    outline: var(--border-color);
    padding: 10px;
}

.submit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submit-button button {
    padding: 10px 8px;
    line-height: 0.3;
    background-color: var(--color-fuchsia);
    color: white;
    border: var(--border-color);
    border-radius: 8px;
    font-weight: bolder;
    cursor: pointer;
}